<!-- The content in this file is inserted into the base.html file -->
<footer>
        <div class="flex-footer">
            <div class="footersection">
                <img src="../assets/images/logo-artist.png" alt="Artist sethie's logo" class="logoimg">
                <p>This is Artist Sethie Portflio. All the Artwork, film, etc on this site belong to them. 
                Don't steal or use Artwork on this site. Ask permission from Artist Sethie if wanting to use
                the artwork. <br/> Contact Artist Sethie here: <br/><a href="mailto:artist.sethie@gmail.com">artist.sethie@gmail.com</a> <br/>
                Copyright ©2022 Artist Sethie, All rights reserved.</p>
            </div>
            <div class="footersection">
                <a href="#"><img src="../assets/images/social/insta-b.png" class="social" id="insta"></a>
                <a href="#"><img src="../assets/images/social/youtube-b.png" class="social" id="youtube"> </a> 
            </div>
            
        </div>
</footer>