<!-- All the content here is access through the base html, 
the content here are not changed by a markdown becuase most the footer content won't need to
be changes -->
<footer>
        <div class="flex-along">
            <div class="alongsection">
                <img src="../assets/images/logo-artist.png" alt="Artist sethie's logo" class="logoimg">
                <p>This is Artist Sethie Portflio. All the Artwork, film, etc on this site belong to them. 
                Don't steal or use Artwork on this site. Ask permission from Artist Sethie if wanting to use
                the artwork. <br/> Contact Artist Sethie here: <br/><a href="mailto:artist.sethie@gmail.com">artist.sethie@gmail.com</a> <br/></p>
               <p> Copyright ©2023 Seth Arnould, All rights reserved.</p>
            </div>
            <div class="alongsection">
                <a href="https://www.instagram.com/artist_sethie/" target="_blank" ><img src="../assets/images/social/insta-w.png" alt="instagram" class="social" id="insta"></a>
                <a href="https://www.youtube.com/channel/UCy8VJidt64TbUOpc6tHtRZQ" target="_blank" ><img src="../assets/images/social/youtube-w.png" alt="youtube" class="social" id="youtube"> </a> 
            </div>
            
        </div>
</footer>