<!-- This content is inserted into the base.html file
This is all the main things need between the <head> tag. allowing for the page 
to link to extrnal css, etc -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- load our reset stylesheet -->
<link rel="stylesheet" href="{{'/assets/css/reset.css' | url }}">
<!-- load our main stylesheet -->
<link rel="stylesheet" href="{{'/assets/css/styles.css' | url }}">
<link rel="stylesheet" href="{{'/assets/css/popup.css' | url }}">
<link rel="stylesheet" href="{{'/assets/css/videosytle.css' | url }}">
<script src="{{'/assets/js/script.js'}}"></script>

<!-- you could add favicons etc here -->
