<!--A space for all the header content on the webpage, 
For example, the logo, nav bar, etc

Putting all the header content in seprate html link to base.html so the base one doesn't get too
full-->
<header>
        <div class="logotext">
            <!--Just / is for the home page-->
            <a href="/"><img src="../assets/images/logo-artist.png" alt="Artist sethie's logo" class="logoimg">  </a>   
            <h1>Seth Arnould's Portfolio</h1>
            <hr>
            <p>Layout & Previs Artist | Editor</p>
        </div>
   
</header>

    <div class= "navbar" id="mynavbar">
        <a href="/" > Home</a>
        <a href="/aboutme" > About & Contact Me</a>
        <a href="/previs" > Previs / Layout </a>
        <a href="/livefilm"> Editor</a>
                              
      
       
        
           
        
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

