<!DOCTYPE html>
<html lang="en">

<head>

    <!-- load the head content from the head.html file -->
    {% include '_head.html' %}   
         

    <!-- set the site title to be a variable, defined in the md file -->
    <title>{{ title }}</title>
</head>

<body>
    <a name="top"></a>
    {% include '_header.html' %}    
    <main>
            <!-- STOP! Don't add anything more to the base template -->
            <!-- the content here is loaded through the homepage template -->
            {% block content %}
            {{ content }}
            {% endblock %}
            <a href="#top" class="btop">Back To Top</a>
    </main>
    {% include '_footer.html' %}
</body>

</html>