
 <form action="https://formspree.io/f/xvgpjajb" method="POST">
      
        <label>
          Your email:<br/>
          <input type="email" name="email" class="smalltext" placeholder="Your Email">
        </label>
        <br/>
        <label>
          Subject: <br/>
          <input name="subject" placeholder="Write the Subject of your message" class="smalltext" />
        </label>
        <br/>
        <label>
          Your message:<br/>
          <textarea name="message" class="textbox" placeholder="Write your message here..."></textarea>
        </label>
        <br/>
        <button type="submit">Send</button>
    
  </form>


