



  <form action="https://formspree.io/f/xvgpjajb" method="POST">
      
        <label>
          Your email:<br/>
          <input type="email" name="email" id="smalltext">
        </label>
        <br/>
        <label>
          Subject: <br/>
          <input name="subject"  value="Inquire" id="smalltext" />
        </label>
        <br/>
        <label>
          Your message:<br/>
          <textarea name="message" id="textbox"></textarea>
        </label>
        <br/>
        <button type="submit">Send</button>
    
  </form>


