
 <form action="https://formspree.io/f/xvgpjajb" method="POST">
      <div class="contactformclass">
        <label>
          <h3>Your Name:</h3>
          <input type="text" name="name" class="smalltext" placeholder="Your Name" />
        </label>
       
        <label>
          <h3>Your email:</h3>
          <input type="email" name="email" class="smalltext" placeholder="Your Email" />
        </label>
        
        <label>
          <h3>Subject:</h3>
          <input name="subject" placeholder="Write the Subject of your message" class="smalltext" />
        </label>
      
        <label class="textareaclass">
          <h3>Your message:</h3>
          <textarea name="message" class="textbox" placeholder="Write your message here..."></textarea>
        </label>
       
        <button type="submit">Send</button>
      
        <p style="font-size: 12px; color: red; font-style: italic;">You will be redirected off this site when you press the button. This completely Normal because the use of a thrid party site for this form to work.</p>
      </div> 
  </form>


