body {
    font-size: 16px;
    background-color: #a4def9ff;
    font-family: sans-serif;
    color: #284b63ff;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
}

h2 {
    font-size: 1.6em;
    float: left;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.heading1{
    font-size: 2em;
    font-weight: bold;
}

.inner-wrapper {
    width: 100%;
    margin: 0 auto;
}

header,
footer {
    background-color: #284b63ff;
    color: #a4def9ff;
    padding: 2em 0;
}
header h1{
    display: inline;
}
.logoimg{
    width: 10%;
    margin-left: 0.1%;
}
.imgbackground{
    background-image: url(../images/Backcan.JPG);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
}
.hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%); 
    color:#ffba08ff ;
    background-color: rgb(40, 75, 99, 0.5);
    font-size: 2em;
   
}

main {
    margin-bottom: 2em;
}
/*Colour palet 
--uranian-blue: #a4def9ff;
--indigo-dye: #284b63ff;
--english-lavender: #b38d97ff;
--pastel-pink: #d5aca9ff;
--selective-yellow: #ffba08ff;


.hero {
    text-align: center;
    min-width: 100%;    
    background-image: url(../images/Backcan.JPG);
    background-repeat: no-repeat;
    padding: 2em;
    margin: 1em 0;
    -- vertically align --
    display: flex;
    align-items: center;
    justify-content: center;


}*/