
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
  }
  .showreelcontainer{
    margin-bottom: 50px; 
    width: 100%;
    padding: 2px;
    text-align: center;
  }
  .showreelcontainer iframe{
    width: 50%;
    height: 500px;
    padding-top: 4px;
    border: 0;
    border-radius: 6px;
  }
  .heading-container {
    margin-top: 30px;
    margin-bottom: 30px; 
    width: 100%;
    text-align: center;
    font-weight: bolder;
    
  }
  
  .column {
    flex-wrap: wrap;
    width: 45%;
    height: auto;
    padding: 5px;
  }
  .column h1, .showreelcontainer h2{
    text-align: center;
    font-weight: bolder;
  }
  .column h2, p {
    padding-top: 10px;
  }

  
  .left-column {
    background-color:  rgb(80, 186, 235); /* Change to your desired color */
  }
  
  .right-column {
    background-color: rgb(76, 197, 253); /* Change to your desired color */
  }
  
  .box {
    border: 1px solid #1d01a9;
    border-radius: 8px;
    padding: 20px;
  }
  
  iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 6px;
  }


  .right-column .pdfalign{
    background-color:white;
  }
  
  @media screen and  (max-width: 800px ){  
  .column h1{
    font-size: medium;
  }
  .column h2,p{
    font-size: small;
  }
  .column iframe {
    width: 100%;
    height: 150px;
    border: 0;
    border-radius: 6px;
  }
  .showreelcontainer iframe{
    width: 50%;
    height: 500px;

}
  
}



