---
layout: base
---
<!--A slightly different layout for the about page.
allowing for images-->
<div class="main-content">
    <div class="flex-along">
        <div class="alongsection">
        {{ content }}
        </div>  
        <div class="alongsection">
            <img src="{{images.image}}" alt="{{alt.text}}" class="imageprofile">
        </div>
        
    </div>    
</div>
<div class="section2">
    <div class="flex-along">
        <div class="alongsection">
            <h1>Resume</h1>
            <p>My Resume will soon return here</p>
            <div class="pdfalign">
                <iframe src= "{{file}}#toolbar=0" ></iframe>
                   
             </div>    
        </div>        
        <div class="alongsection">
            <h1>Contact Me</h1>
            <p id="contacttime">Fill in this form with  your inqurie and I will message back as soon as possible</p>
            {% include "contact-form.html" %}
        </div>
    </div>
  
</div>
