---
layout: base
---
<div class="main-content">
    <div class="inner-wrapper">
  
        {{ content }}
   
    </div>
</div>
<div class="artgallery">
    <div class="column">
        <img src="{{images.one}}" alt="{{images.alt1}}" class="artwork">        
        <img src="{{images.two}}" alt="images.alt2}}" class="artwork">
        <img src="{{images.three}}" alt="{{images.alt3}}" class="artwork">  
        <img src="{{images.four}}" alt="{{images.alt4}}" class="artwork">
        <img src="{{images.five}}" alt="{{images.alt5}}" class="artwork">        
        <img src="{{images.six}}" alt="{{images.alt6}}" class="artwork">
    </div>
    <div class="column">
        <img src="{{images.seven}}" alt="{{images.alt7}}" class="artwork">
        <img src="{{images.eight}}" alt="{{images.alt8}}" class="artwork">
        <img src="{{images.nine}}" alt="{{images.alt9}}" class="artwork">
        <img src="{{images.ten}}" alt="{{images.alt10}}" class="artwork">
        <img src="{{images.eleven}}" alt="{{images.alt11}}" class="artwork">
        <img src="{{images.twelve}}" alt="{{images.alt12}}" class="artwork">
    </div>
    <div class="column">   
        <img src="{{images.thirteen}}" alt="{{images.alt13}}" class="artwork">
        <img src="{{images.fourteen}}" alt="{{images.alt14}}" class="artwork">
        <img src="{{images.fifteen}}" alt="{{images.alt15}}" class="artwork">
        <img src="{{images.sixteen}}" alt="{{images.alt16}}" class="artwork">
        <img src="{{images.seventeen}}" alt="{{images.alt17}}" class="artwork">
        <img src="{{images.eighteen}}" alt="{{images.alt18}}" class="artwork">
        <img src="{{images.nineteen}}" alt="{{images.alt19}}" class="artwork">
    </div>
</div>