---
layout: base
---

<div class="imgbackground">
    <div class="hero">
        <h2>Welcome to Seth Arnould's  Portfolio</h2>
        <h4>The home of all of Seth's Work</h4>
    </div>
</div>

<div class="main-content">
    <div class="inner-wrapper">
    {{ content }}
   
    </div>
</div>
<!--This section is for the gallery of image
the image tag is getting the image/alt from the markdown file -->
<div class="section2 Showreelsize">
    <iframe src="{{showreel}}"   title="Showreel"></iframe>
   
</div>

    
<!--Getting the content from quote and quote author section-->

    <div class="quote">
        <blockquote>
            {{quote}}
        </blockquote>
        <br/> {{quoteauthor}}
    </div>

