---
layout: base
---

<div class="imgbackground">
    <div class="hero">
        <h2>Welcome to My Portflio</h2>
        <h4>The Artwork & Films of Artist Sethie</h4>
    </div>
</div>

<div class="main-content">
    <div class="inner-wrapper">
    {{ content }}
   
    </div>
</div>
<!--This section is for the gallery of image
the image tag is getting the image/alt from the markdown file -->
<div class="section2">
    <div class="artgallery">
        <div class="column">
            <img src="{{images.first}}" alt="{{images.alt1}}" class="artwork">        
            <img src="{{images.second}}" alt="{{images.alt2}}" class="artwork">
        </div>
        <div class="column">
            <img src="{{images.third}}" alt="{{images.alt3}}" class="artwork">  
            <img src="{{images.forth}}" alt="{{images.alt4}}" class="artwork">
        </div>
        <div class="column">
            <img src="{{images.five}}" alt="{{images.alt5}}" class="artwork">        
            <img src="{{images.six}}" alt="{{images.alt6}}" class="artwork">
            <img src="{{images.seven}}" alt="{{images.alt7}}" class="artwork">
        </div>
    </div>
</div>

    <div class="center">
        <h3>My Redbubble Store</h3>
        <script type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js"></script>
        <script id="rb-xzfcxvzx" type="text/javascript">new RBExternalPortfolio('www.redbubble.com', 'artistsethie', 2, 2).renderIframe();</script>
    </div>
<!--Getting the content from quote and quote author section-->
<div class="section2">
    <div class="quote">
        <blockquote>
            {{quote}}
        </blockquote>
        <br/> {{quoteauthor}}
    </div>
</div>
