---
layout: base
---

<div class="imgbackground">
    <div class="hero">
        <h2>Welcome to My Portflio</h2>
        <h4>The Artwork & Films of {{maintitle}}</h4>
    </div>
</div>

<div class="main-content">
    <div class="inner-wrapper">
    {{ content }}
   
    </div>
</div>
<div class="section2">
    <div class="artgallery">
        <div class="column">
            <img src="{{images.first}}" class="artwork">        
            <img src="{{images.second}}" class="artwork">
        </div>
        <div class="column">
            <img src="{{images.third}}" class="artwork">  
            <img src="{{images.forth}}" class="artwork">
        </div>
        <div class="column">
            <img src="{{images.five}}" class="artwork">        
            <img src="{{images.six}}" class="artwork">
            <img src="{{images.seven}}" class="artwork">
        </div>
    </div>
</div>
    <div class="quote">
        <blockquote>
            {{quote}}
        </blockquote>
        <br/> {{quoteauthor}}
    </div>
