<div id="Video01" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Video01').style.display='none'" class="closebtn">&times;</span>
        <div class="gridrow"> 
            <div class="gridcolumn">
            
                <h1> {{videoInfo.video1.title}}</h1>
                <p>{{videoInfo.video1.paragraph}}</p>
                <h3>Synopsis:</h3>
                <p> {{videoInfo.video1.Synopsis}}</p>
                <p class="detailproject">
                    <b>Roles:</b> {{videoInfo.video1.role}} <br/>
                    <b>Software:</b> {{videoInfo.video1.Software}} <br/>
                    <b>Produced at:</b>  {{videoInfo.video1.Produced}}
                </p>
            </div>
            <div class="gridcolumn">
            <iframe src="{{videoInfo.video1.videolinks}}" width="50%" height="50%" frameborder="0"></iframe>
            <h3>Behied the Scene</h3>
              <div class="smallvidrow">
                <div class="smallvidcolumn">
                  <iframe src="{{videoInfo.video1.behiedvideo}}"></iframe>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>  

  <div id="Video02" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Video02').style.display='none'" class="closebtn">&times;</span>
            <div class="gridrow"> 
                <div class="gridcolumn">
                  <h1> {{videoInfo.video2.title}}</h1>
                  <p>{{videoInfo.video2.paragraph}}</p>
                  <p class="detailproject">
                      <b>Roles:</b> {{videoInfo.video2.role}} <br/>
                      <b>Software:</b> {{videoInfo.video2.Software}} <br/>
                      <b>Produced at:</b>  {{videoInfo.video2.Produced}}
                  </p>
                </div>
                <div class="gridcolumn">
                    <iframe src="{{videoInfo.video2.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>        
      </div>
    </div>
  </div>

  <div id="Video03" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Video03').style.display='none'" class="closebtn">&times;</span>
            <div class="gridrow"> 
                <div class="gridcolumn">
                  <h1> {{videoInfo.video3.title}}</h1>
                  <p>{{videoInfo.video3.paragraph}}</p>
                  <h3>Synopsis:</h3>
                  <p> {{videoInfo.video3.Synopsis}}</p>
                  <p class="detailproject">
                      <b>Roles:</b> {{videoInfo.video3.role}} <br/>
                      <b>Software:</b> {{videoInfo.video3.Software}} <br/>
                      <b>Produced at:</b>  {{videoInfo.video3.Produced}}
                  </p>
                </div>
                <div class="gridcolumn">
                <iframe src="{{videoInfo.video3.videolinks}}" width="50%" height="50%" frameborder="0"></iframe>
                </div>
            </div>
      </div>
    </div>
  </div>

  <div id="Video04" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Video04').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.video4.title}}</h1>
              <p>{{videoInfo.video4.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.video4.role}} <br/>
                  <b>Software:</b> {{videoInfo.video4.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.video4.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.video4.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>       
      </div>
    </div>
  </div>

  <div id="Video05" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Video05').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.video5.title}}</h1>
              <p>{{videoInfo.video5.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.video5.role}} <br/>
                  <b>Software:</b> {{videoInfo.video5.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.video5.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.video5.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>        
      </div>
    </div>
  </div>

  <div id="Motion1" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Motion1').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.motion1.title}}</h1>
              <p>{{videoInfo.motion1.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.motion1.role}} <br/>
                  <b>Software:</b> {{videoInfo.motion1.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.motion1.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.motion1.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>        
      </div>
    </div>
  </div>

  <div id="Motion2" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Motion2').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.motion2.title}}</h1>
              <p>{{videoInfo.motion2.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.motion2.role}} <br/>
                  <b>Software:</b> {{videoInfo.motion2.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.motion2.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.motion1.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>        
      </div>
    </div>
  </div>



  <div id="Audio1" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Audio1').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.audio1.title}}</h1>
              <p>{{videoInfo.audio1.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.audio1.role}} <br/>
                  <b>Software:</b> {{videoInfo.audio1.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.audio1.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.audio1.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>        
      </div>
    </div>
  </div>

  <div id="Audio2" class="modal">
    <div class="modal-content">
      <div class="Infocontainer">
        <span onclick="document.getElementById('Audio2').style.display='none'" class="closebtn">&times;</span>
          <div class="gridrow"> 
            <div class="gridcolumn">
              <h1> {{videoInfo.audio2.title}}</h1>
              <p>{{videoInfo.audio2.paragraph}}</p>
              <p class="detailproject">
                  <b>Roles:</b> {{videoInfo.audio2.role}} <br/>
                  <b>Software:</b> {{videoInfo.audio2.Software}} <br/>
                  <b>Produced at:</b>  {{videoInfo.audio2.Produced}}
              </p>
            </div>
            <div class="gridcolumn">
                <iframe src="{{videoInfo.audio2.videolinks}}" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>        
      </div>
    </div>
  </div>