---
layout: base
---
<br>
    <h2 class="headdingtext"> Previs & Layout Showreels</h2>
    <div class="flexreel">
        <div class="reelitem">
            
            <iframe src="{{showreellink1}}" allow="fullscreen"></iframe>           
        </div>    
        <div class="reelitem">
            
            <iframe src="{{showreellink2}}" allow="fullscreen"></iframe>
            
        </div>          
       
    </div>
    
    <div class="section2">
        <h2 class="headdingtext">Full Length and Other Previs & Layout Projects</h2>
        <div class="flexpreviscontainer">
            <div class="previsitem">
                <iframe src="https://www.youtube.com/embed/CtvFzXUBT7I" allow="fullscreen"></iframe>
                <h1>Sk8-Bit - Full Film</h1>             
                <p>
                    This film was created in Studio 2 at the UTS Animal Logic Academy, where I, along with the layout team, worked on and learnt camera tracking using Blender’s
                     motion tracking system. We created a track that enabled the integration of CG elements into the VFX film by all other departments. You're able to view some 
                     of my tracks that I accoblished as part Layout team at the end of my showreel. <br>         
                
                
                
                </p>
            </div>
            <div class="previsitem">
                <iframe src="https://www.youtube.com/embed/o54JP-EV2rM" allow="fullscreen"></iframe>
                <h1>Camera Practice Work Using Referenced Film</h1>
                <h2>SkyFall: Train flight Sequences (Action Camera)</h2> 
                

            </div>
            <div class="previsitem">
                <iframe src="https://www.youtube.com/embed/7W49wDcSi4o" allow="fullscreen"></iframe>
                <h1>Camera Practice Work Using Referenced Film</h1>
                <h2>The Incredibles: Family Argument Sequences (Dialouge Camera) </h2>
                
            </div>
            <div class="previsitem">
                <h1 style="font-size: 60px;">Coming Soon</h1><!--<iframe src="https://www.youtube.com/embed/" allow="fullscreen"></iframe>-->
                <h1>Storyboard to Previs Pratice </h1>                
            </div>
        </div>
    </div>


    



