---
layout: base
---
<br>
   
    <div class="flexreel">
        <div class="reelitem">
            
            <iframe src="{{showreellink1}}" allow="fullscreen"></iframe>           
        </div>    
        <div class="reelitem">
            
            <iframe src="{{showreellink2}}" allow="fullscreen"></iframe>
            
        </div>          
       
    </div>
    
    <div class="section2">
        {% include "layouts/infobox.html" with videoInfo %}
        <div class="gridrow"> 
            <div class="gridcolumn">                
                <button onclick="document.getElementById('Video01').style.display='block'" >
                    <iframe src="{{videoInfo.video1.videolinks}}" allow="fullscreen"></iframe>
                    <h2>{{videoInfo.video1.title}}</h2>
                    <p>Click for more Infomation</p>
                </button>
                <button onclick="document.getElementById('Video02').style.display='block'">
                    <iframe src="{{videoInfo.video2.videolinks}}" allow="fullscreen"></iframe>
                    <h2>{{videoInfo.video2.title}}</h2>
                    <p>Click for more Infomation</p>
                </button>   
                 <button onclick="document.getElementById('Video05').style.display='block'">
                    <iframe src="{{videoInfo.video5.videolinks}}" allow="fullscreen"></iframe>
                    <h2>{{videoInfo.video5.title}}</h2>
                    <p>Click for more Infomation</p>
                </button>
                                             
            </div>

            <div class="gridcolumn">
                <button onclick="document.getElementById('Video03').style.display='block'">
                    <iframe src="{{videoInfo.video3.videolinks}}" alt="{{images.foolalt}}" class="gridimages"></iframe>
                    <h2>{{videoInfo.video3.title}}</h2>
                    <p>Click for more Infomation</p>
                </button>
                <button onclick="document.getElementById('Video04').style.display='block'">
                    <iframe src="{{videoInfo.video4.videolinks}}" allow="fullscreen"></iframe>
                    <h2> {{videoInfo.video4.title}}</h2>
                    <p>Click for more Infomation</p>
                </button>
               
               
                
            </div>
        </div>
    </div>

    <div class="artgallery">
        <div class="column">
            <img src="{{images.first}}" alt="{{images.alt1}}" class="artwork">        
        </div>
     
        <div class="column">                  
            <img src="{{images.six}}" alt="{{images.alt6}}" class="artwork">
            <img src="{{images.seven}}" alt="{{images.alt7}}" class="artwork">
        </div>
    </div>


    



