---
layout: base
---

<div class="container">
  <div class="heading-container">
    <h1>Film Production</h1>
  </div>
    <div class="column left-column">
        <h1>Project that were mainly made by Me</h1>
    </div>
    <div class="column right-column">
        <h1>Projects that involved a team of people</h1>
    </div>
    <!--New Row-->
    <div class="column left-column">
      <div class="box">
        <iframe src="{{clip.one}}" frameborder="0" allowfullscreen></iframe>
        <h2>{{cliptext.title1}}</h2>
        <p>{{cliptext.para1}}</p>
      </div>
    </div>
    <div class="column right-column">
      <div class="box">
        <iframe src="{{clip.two}}" frameborder="0" allowfullscreen></iframe>
        <h2>{{cliptext.title2}}</h2>
        <p>{{cliptext.para2}}</p>
      </div>
    </div>
    <!--New Row-->
    <div class="column left-column">
        <div class="box">
          <iframe src="{{clip.three}}" frameborder="0" allowfullscreen></iframe>
          <h2>{{cliptext.title3}}</h2>
          <p>{{cliptext.para3}}</p>
        </div>
      </div>

      <div class="column right-column">
        <div class="box">
          <iframe src="{{clip.four}}" frameborder="0" allowfullscreen></iframe>
          <h2>{{cliptext.title4}}</h2>
          <p>{{cliptext.para4}}</p>
        </div>
      </div>

       <!--New Row-->
    <div class="column left-column">
        <div class="box">
          <iframe src="{{clip.five}}" frameborder="0" allowfullscreen></iframe>
          <h2>{{cliptext.title5}}</h2>
          <p>{{cliptext.para5}}</p>
        </div>
      </div>

      <div class="column right-column">
        <div class="box">
          <iframe src="{{clip.six}}" frameborder="0" allowfullscreen></iframe>
          <h2>{{cliptext.title6}}</h2>
          <p>{{cliptext.para6}}</p>
        </div>
      </div>      
</div>
  




