---
layout: base
---
<div class="editorreel">
  
  <iframe src="{{showreellink1}}" allow="fullscreen"></iframe>

</div>

<div class="flexpreviscontainer">
  <div class="previsitem">
    <iframe src="{{clip.one}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{cliptext.title1}}</h2>
    <p>{{cliptext.para1}}</p>
  </div>
  

  <div class="previsitem">
    <iframe src="{{clip.two}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{cliptext.title2}}</h2>
    <p>{{cliptext.para2}}</p>
  </div>

  <div class="previsitem">
    <iframe src="{{clip.four}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{cliptext.title4}}</h2>
    <p>{{cliptext.para4}}</p>
  </div>

  <div class="previsitem">
    <iframe src="{{clip.six}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{cliptext.title6}}</h2>
    <p>{{cliptext.para6}}</p>
  </div>

</div>

<h2 class="headdingtext">Audio Editing</h1>
<div class="flexpreviscontainer">
  <div class="previsitem">
    <iframe src="{{audio.one}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{audiotext.title1}}</h2>
    <p>{{audiotext.para1}}</p>
  </div>

  <div class="previsitem">
    <iframe src="{{audio.two}}" frameborder="0" allowfullscreen></iframe>
    <h2>{{audiotext.title2}}</h2>
    <p>{{audiotext.para2}}</p>
  </div>

  <div class="previsitem">

  </div>
</div>








    

  




