
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
  }
  .showreelcontainer{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .showreelcontainer iframe{
    height: 540px;
    width: 960px;
    border: 0;
    border-radius: 6px;
  }
  .column iframe{
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 6px;

  }


  .showreelcontainer h2{
    padding: 1%;
    font-size: 40px;
  }
  .heading-container {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    
  }
  
  .column {
    flex-wrap: wrap;
    width: 45%;
    height: auto;
    padding: 1%;
  }
  .left-column h1,.right-column h1, .showreelcontainer h2{
    text-align: center;
    font-weight: bolder;
  }
  .column h2, p {
    padding-top: 10px;
  }

  
  .left-column {
    background-color:  rgb(80, 186, 235); /* Change to your desired color */
  }
  
  .right-column {
    background-color: rgb(76, 197, 253); /* Change to your desired color */
  }
 

  
  .box {
    border: 1px solid #1d01a9;
    border-radius: 8px;
    padding: 20px;
  }
  
  .Showreelsize iframe {
    width: 100%;
    height: 300px;
    border: 0;
    border-radius: 6px;
  }


 
  @media screen and  (max-width: 1450px ){  
    .showreelcontainer iframe{
      height: calc(540px / 2);
      width: calc(960px / 2);
    }
  
  
  }
  
  @media screen and  (max-width: 800px ){  
  .column h1{
    font-size: medium;
  }
  .column h2,p{
    font-size: small;
  }
  .column iframe {
    width: 100%;
    height: 150px;
    border: 0;
    border-radius: 6px;
  }
 

  @media screen and  (max-width: 800px ){  
    .column h1{
      font-size: medium;
    }
    .column h2,p{
      font-size: small;
    }
    .column iframe {
      width: 100%;
      height: 150px;
      border: 0;
      border-radius: 6px;
    }
 
  }




 }


